nav{
    position: fixed;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 11;
    width: 100%;
    max-width: 500px;
    .background{
        width: 104%;
        transform: translate(-2%, 8%);
    }
}

.highlightLabelButtonBackground{
    width: 27.5%;
    height: 100%;
    background-color: #EFE2FF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    &:hover, &:active{
        background-color: #DCCAF1;
        transform: translateY(10px);

        .highlight, .highlightCote, .highlightUnder{
            display: none;
        }
    }
    padding: 0%;
}

.buttonNavbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 72%;
    position: fixed;
    top: 0px;
    z-index: 10;

}

.highlightLabel{
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlight{
    position: absolute;
    width: 100%;
       height: 148%;
    pointer-events: none;
}

.highlightCote{
    height: 100%;
    position: absolute;
    z-index: 11;
    pointer-events: none;
    
}

.highlightCoteright{
    right: 0;
}

.highlightCoteleft{
    left: 0;
}

.highlightUnder{
    position: absolute;
    transform: translateY(72%);
    width: 50%;
    height: 100%;
    pointer-events: none;
}

.label{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 20;
    p{
        color: #5E38E6;
    }
}