.aurorBoreal {
    position: fixed;
    top: 100%;
    transform: translateY(-100%);
    width: 100%;
    height: auto;
    max-width: 768px;
}

.stars {
    position: absolute;
    margin: auto;
    transform: translate(50%, -50%);
    top: 50%;
    right: 50%;
    width: 80%;
    max-width: 678px;
    height: auto;
}