// -----<< COLORS >>-----
$color-white: #fff9ef;
$color-black: #1a1a1a;
$color-dark-blue: #3c42c4;
$color-pink-light: #f1e6ff;
$color-pink-dark: #efe2ff;
$color-gray: #797979;

$font-primary: 'Jost';
$font-title: 'Pally-Regular';

$font-heading: 46px;
$font-heading2: 22px;
$font-text: 16px;