h1{
    font-size: 46.4px;
    font-family: 'Pally-Regular';
    color: #FFF9EF;
    font-weight: 200;
}

p, label, input::placeholder, input, textarea{
    font-size: 16px;
    font-family: 'Jost-Variable';
    font-weight: 200;

}