body{
    background: linear-gradient(180deg, rgba(60,66,196,1) 0%, rgba(214,143,184,1) 70%);
    overflow: hidden;

}


.aurorBoreal{
    position: fixed;
    top: 79%;
    width: 100vw;
    height: auto;
}