@use '../variables.scss' as *;
@use '../font.scss' as *;

.containerAccount{
    height: 100%;
    min-height: 100%;
    width: 100%;

    .canvasAccount{
        position: absolute !important;
        top: 0;
        width: fit-content !important;
    }

    .editButton {
        display: flex;
        justify-content: end;
        margin-top: 2rem;
        padding-right: 1.5rem;

        a {
            line-height: 0;
            z-index: 20;
        }
    }

    .containerAccountInformation{
        position: absolute;
        top: 50%;
        top: 0;
        left: 0;
        width: 100vw;
        padding: 0 1.5rem;
        border-radius: 10px;
        background-color: #F5EDFF;   
        color: black;

        h4 {
            margin-top: 1rem;
            text-transform: capitalize;
            font-size: 22px;
            color: $color-black;
        }

        .friendcode{
            display: flex;
            justify-content: start;
            align-items: center;
        }
        
        .AddfriendContainer{
            margin-top: 1.5rem;
            padding: .75rem 1rem;
            border-radius: 10px;
            background-color:rgba(239, 226, 255, 1);
        }
    }
}
