.createLetterContainer {
    background-color: #F5EDFE;
    height: 100dvh;
    padding: 12px;

    h1 {
        padding-left: 2.75rem;
        padding-top: 1rem;
    }

    h1, p, textarea, label, select, input {
        color: #000000;
    }

    .sendButton {
        background-color: white;
    }

    .letter {
        position: relative;
        height: 70%;
    }

    .letterContentForm {
        z-index: 1;
        position: absolute;
        padding: 0px 27px 0px 27px;
        width: 100%;
        height: 95%;
    }

    .letterBackground {
        z-index: 0;
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .letterHeader{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 12px;
        width: 100%;
    }
    .buttonStamp{
        background-color: #E6D0AC;
        border: #79633E 1px dashed;
        min-width: 70px;
        min-height: 78px;
        padding: 0;

        .stampImage{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }
}

.stampList {
    z-index: 10;
    position: absolute;
    width: 100%;
    border-radius: 10px;
    height: fit-content;
    min-height: 100%;
    background-color: #F5EDFE;
    padding: 1.5rem;
    padding-bottom: 7rem;
    max-width: 768px;

    .stampElement {
        width: 60px;
    }

    h1 {
        margin-bottom: .5rem;
        color: black;
    }
}


.addStamp{
    width: 100%;
    height: 100%;

}

.letterInformation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
}
.selectReceiver{
    display: flex;
    gap: 4px;
    width: 100%;
    select{
        background-color: unset;
        border: 0px;
        border-bottom: 1px solid black;
        width: 80%;
        max-width: 200px;
    }
}

.letterBody{
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    div{
        display: flex;
        flex-direction: column;
        justify-content: start;
        input, textarea{
            background-color: unset;
            border: 0px;
            border-radius: 0%;
            border-bottom: 1px solid black;
        }
        .letterContentText{
            height: 100%;
            min-height: 132px;
            resize : none;
            padding-left:12px ;
        }
    }
}

.letterContainerContent{
    height: 100%;
}

.usernameContent{
    text-align: end;
}


.validationSendAnimation {
    position: fixed; 
    top: 0; 
    width: 100%;
    max-width: 768px;
    height: 100dvh;
    background-color: #F5EDFE;
    transition: transform 500ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 99999;
    gap: 14px;
    transform: translateY(100%);
    color: black;
}

.validationSendAnimation.visible {
    transform: translateY(0); 
}

.createLetterPage{
    width: 100%;
    height: fit-content;
    overflow: hidden;
}

.sendContainer {
    display: flex;

    .imageInput {
        background-color: #E6D0AC;
        border: #79633E 1px dashed;
        min-width: 70px;
        min-height: 78px;
        padding: 0;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
    }
}
