.landingContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5.5rem 1.5rem  1.5rem 1.5rem;
    z-index: 1;
    height: 100vh;

    .buttonsContainer {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
    }
}

button{
    width: 239px;
    background: none;
    border-radius: 50px;
    border: 1px solid #FFF9EF;
    height: 40px;
    p{
        color:#FFF9EF;
    }
}