.showLetterContainer {
    width: 100dvw;
    height: 100dvh;
    max-width: 768px;
    padding: 1rem;
    background-color: #F5EDFE;

    .letterContainerContent {
        max-height: 35dvh;
        overflow: scroll;
    }

    p{
        text-wrap: wrap;
    }

    .letter {
        animation: 1s ease-in-out 0s 1 slideInFromBottom;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    h4 {
        color: black;
        text-align: center;
        font-size: 24px;
        padding-bottom: 1rem;
    }

    .slideOutToTop {
        animation: 1s ease-in-out 0s 1 slideOutToTop forwards;
    }

    .content{
        animation: 1s ease-in-out 0s 1 slideInFromBottom;
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .letterHeader{
        display: flex;
        gap: 12px;

        .stampImage{
            min-width: 55px;
            height: auto;
            max-width: 80px;
            width: 40%;
        
        }
    }

    .letterBackground {
        z-index: 0;
        position: absolute;
        width: 90%;
        height: 90%;
        object-fit: cover;
    }

    .letterContent {
        position: absolute;
        height: 100%;
        width: 75%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-top: 2rem;
        color: black;
    }

    .titleContent{
        font-weight: 600;
    }
}

.letterInformation {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(300%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideOutToTop {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-300%);
    }
}

@keyframes fadeIn {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.letterFooter {
    display: flex;
    justify-content: space-between;
    transform: translate(0, 10%);
    
    img {
        background-color: #FFF9EF;
        padding: .5rem .5em 2rem .5rem;
        width: 160px;
        transition: transform 0.5s ease-in-out;

        &.showImage {
            transform: translateY(100dvh);
        }
    }
}

.letterFooterWithoutImage {
    transform: translate(0, 0);
    padding-bottom: 2rem;
    justify-content: end;
}

.showImageContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: .5s ease-in-out 0s 1 fadeIn forwards;

    &.exit {
        animation: .5s ease-in-out 0s 1 fadeIn reverse forwards;

        img {
            animation: .5s ease-in-out 0s 1 slideInFromBottom reverse forwards;
        }
    }

    img {
        width: 90dvw;
        max-width: 768px;
        animation: .5s ease-in-out 0s 1 slideInFromBottom forwards;
    }
}