.showLetterContainer {
    width: 100dvw;
    height: 100dvh;
    background-color: #F5EDFE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .letter {
        animation: 1s ease-in-out 0s 1 slideInFromBottom;
        cursor: pointer;
    }

    h4 {
        color: black;
        text-align: center;
        font-size: 24px;
        padding-bottom: 1rem;
    }

    .slideOutToTop {
        animation: 1s ease-in-out 0s 1 slideOutToTop forwards;
    }

    .content{
        margin-bottom: 50%;
        animation: 1s ease-in-out 0s 1 slideInFromBottom;
        position: relative;
    }

    .letterBackground {
        z-index: 0;
        position: absolute;
        width: 100%;
    }

    .letterContent {
        z-index: 1;
        position: absolute;
        padding: 0px 27px 0px 27px;
        width: 100%;
        height: 95%;
    }
}

.letterInformation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(300%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideOutToTop {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-300%);
    }
}